@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    /* 标准盒子模型 */
    box-sizing: border-box;
}

body {
    /* 引入字体 */
    font-family: 'Ubuntu', sans-serif;
    /* 弹性布局 水平 + 垂直居中 */
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    /* 100%的窗口高度 */
    height: 100vh;
    /* 溢出隐藏 */
    /* overflow: hidden; */
    margin: 0;
}

/* https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80' */
.bg {
    background: url("./images/cut_lvjing.png") no-repeat center center/cover;
    /* 绝对定位 */
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    /* 模糊滤镜 */
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #e5efffda;
}



/* above is blurry loading, below is  original*/

/* above is blurry loading
below is original */





* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 1.0s;
}

a:hover {
    opacity: 0.4;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: "system-ui", -apple-system, 'Helvetica', Arial, sans-serif;
    /* 'Helvetica' */
    background: #376bbfda;
    height: 8vh;
}

main {
    background: url("./images/cut_lvjing.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    /* 黑点消失 */
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}



.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
